@charset "UTF-8";

/* IMG HEADER */

img#oculos01{
    position: relative;
    margin: 0px 0% 0px 92%;
    padding: 0px;
    top: 0px;
}

video{
    display: block;
    align-content: center;
    margin: 0 auto;
    width: 95%;
    height: 95%;
}

#guia h3{
    margin: 0px 20px;
    padding: 0px;
}

/* Article */

div#esquerda{
    display: block;
    height: 1930px;
    min-height: auto;
    max-width: 50%;
    border-right: 2px solid #606060;
    padding: 0px 30px;
    margin: auto;
    float: left;
    width: 900px
}
section#especi_tec caption{
    text-align: center;
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
}

section#especi_tec caption span {
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 8px;
}

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabelaspec tr td{
    border: 1px solid black;
    padding: 10px;
    background-color: #cecece;
    text-align: center;
    font-size: 12pt;
}

table#tabelaspec tr th{
    border: 1px solid black;
    padding: 10px;
    text-align: right;
    background-color: #606060;
    vertical-align: top;
    font-size: 14pt;
    color: white;
    font-weight: bold;
}

/* Aside */

div#direita{
    display: block;
    max-width: 42.8%;
    padding: 0px 30px;
    margin: auto;
    float: right;
    height: 1930px;
}

figure.foto-legenda{
    border: white solid 8px;
    box-shadow: 0px 0px 8px black;
    position: relative;
}

figure.foto-legenda img{
    margin: auto;
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    height: 100%;
    padding: auto;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s;
    margin: auto;
}


figure.foto-legenda:hover figcaption{
    opacity: 1;
}

figure.foto-legenda figcaption h3{
    text-align: center;
    padding: 180px 0 0 0;
}

figure.foto-legenda figcaption p{
    padding: auto;
    display: block;
    text-align: center;
}